.Brand-component-container {
    max-width: 1080px;

}

.brand-logo {
    width: 150px;
    height: 150px;
}

.brands-cards-contianer {
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: space-between;
    display: flex;
    max-width: 1080px;

}