.brands-cards-contianer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: wrap;
    text-align: center;
    align-items: center;
    height: auto;
}

.brand-card {
    background-color:#ffb870;
    cursor: pointer;
    width: 130px;
    padding: 10px;
    margin: 10px;
}

.brand-logo {
    width: 120px;
    height: 120px;
}

.brand-name {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    background: #bf6000;
    padding: 5px;
}