body {
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}

.background {
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url('https://source.unsplash.com/Ndm1hhIcwHc/1600x900');
    background-size: 100%;
    min-height: 100vh;
    position: relative;
    top: 0;
    left: 0; 
    padding: 30px;
}

.big-title {
    padding: 50px;
    margin: 0;
}

.input-container {
    background-color: #ffe7e0;
    border: 2px solid #000;
    padding: 20px;
    width: 400px;
}

.input-label {
    display: block;
    margin: 5px 0;
}

.input {
    border: 1px solid #000;
    font-size: 15px;
    width: 250px;
    padding: 5px;
    margin-bottom: 15px;
}

.submit-input {
    display: block;
    background-color: #fff;
    border: 2px solid #000;
    font-size: 20px;
    padding: 5px 15px;
    margin-top: 20px;
}

/* remove number spin for pages input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#pages {
    border: 1px solid #000;
    margin: 0;
}
/* My book list section */
.small-title{
    padding: 20px 50px;
    margin-top: 30px;
    margin-bottom: 0;
}

.books-container{
    display: flex;
}

.reading-container {
    width: 100%;
    height: auto;
}

/* Book styling */
.card {
    background:#fccfcf;
    border: 1px solid #fc0303;
    border-radius: 20px 8px 8px 20px;
    box-shadow: inset 3px 0 0 0 #bababa;
    display: inline-block;
    padding: 15px;
    margin: 10px 15px;
    width: 160px;
    font-size: 1.0rem;
}

.card-bottom {
    background: #fff;
    background-image: linear-gradient(to bottom, transparent 6px, #E4E0CE 8px, transparent 10px,  #E4E0CE 12px,  transparent 14px,  #E4E0CE 16px,  transparent 18px,  #E4E0CE 20px,  transparent 22px, #E4E0CE 24px,  transparent 26px);
    border-radius: 20px 0px 4px 20px;
    box-shadow: inset 2px 4px 0px 0px #bababa;
    min-width: calc(100% + 23px);
    height: 25px;
    position: relative;
    right: 8px;
    top: 8px;
    z-index: 1;
}

/* erase button in a card */
.erase-btn {
    border: none;
    background-color: #ff3333;
    cursor: pointer;
    position: relative;
    float: right;
    margin: 0;
}

/* title in a card */
.title {
    border-bottom: 3px solid #ffa1a1;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.3rem;
    width: 90%;
    padding: 5px;
    margin: 0;
}

/* read button in a card */
.readBtn {
    background-color: #fff;
    cursor: pointer;
    font-size: 1.0rem;
    font-weight: 600;
    position: relative;
    left: 100px;
    padding: 5px 10px;
}